@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800;900&family=Urbanist:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$font-family-orb: 'Orbitron', sans-serif;
$font-family-urb: 'Urbanist', sans-serif;


$bg-white:#FFFFFF;
$bg-black:#000000;
$bg-nav-collapse:#000;
$primary-color: #FF3B73;
$green-color:#5be922;
$text-color: #EAFFFC;
$title-color:#fff;
$new-title-color:#65C0EB;
